/* Подключение шрифта JetBrains Mono */
@import url('https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/css/jetbrains-mono.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

/* Применение к основному тексту и коду */
body {
    font-family: 'Inter', sans-serif;
}

code, pre, .code, .highlight {
    font-family: 'JetBrains Mono', monospace !important;
}

/* Для заголовков можно оставить шрифт по умолчанию Furo или тоже изменить */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
}